       <footer>
           <p id="name">© Nane Boudewijns - 2017</p>
           <div class="right">
            <a href="https://www.linkedin.com/in/nane-boudewijns/" target="_blank"><img src="/img/linkedin.png" alt="LinkedIn" align="right"/></a><br/><br/>
            <p>Contacteer mij: tel +32484035811 | e-mail: naneboudewijns.nb@gmail.com</p>
            <p></p>
           </div>
       </footer> 
        
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/scroll-snap-polyfill.js"></script>
        <script src="/js/navbar.js"></script>
        <script src="/js/scroll.js"></script>

    </body>
</html>

