<!doctype html>
<html>
	<head>
		<title>Nane Boudewijns</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/navbar.css">
        
		<meta charset="utf-8">
        
        <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
	</head>
<body>
<div class="postEl">
    <a href="/">&laquo; Home</a>
    <img src="<%- post.image %>"/>
    <h2><%- post.title %></h2>
    <%- post.text %>
    <a id="link" href="<%- post.url %>" target="_blank">Bekijk</a><br/>
    <a href="/">&laquo; Home</a>
</div>
</body>
</html>
