<% include header %>

<div class="postEl">
    
    <h2><%- post.title %></h2>
    <img src="<%- post.image %>"/>
    <p class="italic"><%- post.date %></p>
    <%- post.text %>
    
</div>

<% include footer %>